module.exports = {
  development: {
    username: `vagrant`,
    password: `hello`,
    database: `dev_cbrm`,
    host: `127.0.0.1`,
    port: `{{ host_db_port }}`,
    dialect: postgres,
  },
  production: {
    username: `{{ app_user }}`,
    password: process.env.CBRM_DB_PASSWORD,
    database: `{{ db_name }}`,
    host: `{{ ansible_host }}`,
    dialect: postgres,
  },
}
