module.exports = {
  development: {
    username: `vagrant`,
    password: `hello`,
    database: `{{ db_name }}`,
    host: `127.0.0.1`,
    port: {{ remote_db_port }},
    dialect: `postgres`,
  },
  production: {
    username: `{{ app_user }}`,
    password: process.env.CBRM_DB_PASSWORD,
    database: `{{ db_name }}`,
    host: `{{ ansible_host }}`,
    dialect: `postgres`,
  },
}
